.container-wrapper.mt-5
  = render_button(t('layout.btn.back'), 'arrow-left', users_path)
  = render_button(t('layout.btn.save'), 'save', '#', class: 'btn-save-user ml-1')
  = render 'form', action_url: user_path(@user.id)