= link_to_add_association form, assosiation, class: "btn btn-primary mb-3 #{class_name}", data: { association_insertion_method: :append, association_insertion_traversal: traversal, association_insertion_node: insert_node } do
  i.fa.fa-plus
  span.ml-2 #{button_text}