= render_button(t('layout.btn.back'), 'arrow-left', :back)
= render_button(t('layout.btn.save'), 'save', '#', class: 'btn-save ml-1')
= render_button(t('layout.btn.add_question'), 'plus', '#', class: 'float-right btn-trigger-add-question')